/* Paramètres des livres */
.book{
    border: 1px black solid;
    padding: 10px;
    margin: 5px;
    background-color: rgb(200,200,200);
    @include mobile-only{
        width: 140px;
        height: 245px;
    }
    @include tablette-only{
        width: 200px;
        height: 350px;
    }
    @include bureau-only{
        width: 250px;
        height: 435px;
    }
    &__title{
        overflow: hidden;
        @include mobile-only{
            padding: 2px;
            height: 10px;
        }
        @include tablette-only{
            padding: 2px;
            height: 15px;
        }
        @include bureau-only{
            padding: 3px;
            height: 18px;
        }
    }
    &__id{
        overflow: hidden;
        @include mobile-only{
            padding: 2px;
            height: 10px;
        }
        @include tablette-only{
            padding: 2px;
            height: 15px;
        }
        @include bureau-only{
            padding: 3px;
            height: 18px;
        }
    }
    &__author{
        overflow: hidden;
        @include mobile-only{
            padding: 2px;
            height: 10px;
        }
        @include tablette-only{
            padding: 2px;
            height: 15px;
        }
        @include bureau-only{
            padding: 3px;
            height: 18px;
        }
    }
    &__description{
        overflow: hidden;
        @include mobile-only{
            padding: 2px;
            height: 108px;
        }
        @include tablette-only{
            padding: 2px;
            height: 160px;
        }
        @include bureau-only{
            padding: 3px;
            height: 200px;
        }
    }
    &__image{
        display: block;
        margin:auto;
        margin-top: 2px;
        @include mobile-only{
            height: 96px;
        }
        @include tablette-only{
            height: 120px;
        }
        @include bureau-only{
            height: 150px;
        }
    }
    &__fa-solid{
        float: right;
        width: 10%;
        &:active{
            border: 1px rgb(200,200,200) solid;
        }
        @include bureau-only{
            transition: transform 400ms;
            &:hover{
                transform: scale(1.20);
                cursor:pointer;
            }
        }
    }
}