@charset "UTF-8";
body {
  font-family: "PT Sans", sans-serif;
  color: black;
}
@media screen and (max-width: 599px) {
  body {
    font-size: 8pt;
  }
}
@media screen and (min-width: 600px) {
  body {
    font-size: 11pt;
  }
}

.title {
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 10pt;
  }
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 15pt;
  }
}

h2 {
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  h2 {
    font-size: 9pt;
  }
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 12pt;
  }
}

.button {
  color: white;
}
@media screen and (max-width: 599px) {
  .button {
    font-size: 8pt;
  }
}
@media screen and (min-width: 600px) {
  .button {
    font-size: 14pt;
  }
}

/* Paramètres des livres */
@media screen and (max-width: 599px) {
  .book {
    font-size: 8pt;
  }
}
@media screen and (min-width: 600px) {
  .book {
    font-size: 11pt;
  }
}
.book__title {
  font-weight: bold;
}
.book__id {
  font-style: italic;
  font-weight: bold;
}
.book__description {
  color: rgba(0, 0, 0, 0.8);
}

.button {
  color: white;
  padding: 5px;
}
@media screen and (max-width: 599px) {
  .button {
    width: 100px;
  }
}
@media screen and (min-width: 600px) {
  .button {
    width: 200px;
    transition: transform 400ms;
  }
  .button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.button--red {
  background-color: #FF9A56;
  border: 1px #FF9A56;
  border-radius: 3px;
}
.button--green {
  background-color: #3FB596;
  border: 1px #3FB596;
  border-radius: 3px;
}
.button--center {
  display: block;
  margin: auto;
  margin-top: 10px;
}

/* Le champ input déborde du bloc si 100% */
input {
  width: 98%;
}
@media screen and (min-width: 600px) {
  input {
    width: 99%;
  }
}

.title {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px #969696 solid;
  border-radius: 3px;
  box-shadow: 0px 4px 1px #c8c8c8;
  text-align: center;
}

.h2 {
  margin: auto;
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
  width: 60px;
}
@media screen and (min-width: 600px) {
  .logo {
    width: 100px;
  }
}

/* Paramètres des livres */
.book {
  border: 1px black solid;
  padding: 10px;
  margin: 5px;
  background-color: #c8c8c8;
}
@media screen and (max-width: 599px) {
  .book {
    width: 140px;
  }
}
@media screen and (min-width: 600px) {
  .book {
    width: 250px;
  }
}
@media screen and (max-width: 599px) {
  .book__title {
    margin-top: 5px;
  }
}
@media screen and (min-width: 600px) {
  .book__title {
    margin-top: 10px;
  }
}
@media screen and (max-width: 599px) {
  .book__id {
    margin-top: 5px;
  }
}
@media screen and (min-width: 600px) {
  .book__id {
    margin-top: 10px;
  }
}
@media screen and (max-width: 599px) {
  .book__author {
    margin-top: 5px;
  }
}
@media screen and (min-width: 600px) {
  .book__author {
    margin-top: 10px;
  }
}
@media screen and (max-width: 599px) {
  .book__description {
    margin-top: 5px;
  }
}
@media screen and (min-width: 600px) {
  .book__description {
    height: 180px;
    margin-top: 10px;
  }
}
.book__image {
  display: block;
  margin: auto;
}
@media screen and (max-width: 599px) {
  .book__image {
    height: 100px;
  }
}
@media screen and (min-width: 600px) {
  .book__image {
    height: 150px;
  }
}
.book__fa-solid {
  float: right;
  width: 10%;
}
.book__fa-solid:active {
  border: 1px #c8c8c8 solid;
}
@media screen and (min-width: 600px) {
  .book__fa-solid {
    transition: transform 400ms;
  }
  .book__fa-solid:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

/* Paramètres du bloc content */
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
#content > h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

/* Paramètres du bloc résultat */
#resultBlokId {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

#resultBlokId > h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  body {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 3px;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
