.button{
    @include mobile-only{
        width: 100px;
    }
    @include mobile-except{
        width : 200px;
        transition: transform 400ms;
        &:hover{
            transform: scale(1.20);
            cursor:pointer;
        }
    }
    color: white;
    padding: 5px;
    @include btn-colors($btn-colors);
    &--center{
        display: block;
        margin:auto;
        margin-top: 10px;
    }
}