input{
    @include mobile-only{
    /* Le champ input déborde du bloc si 100% */
    width : 98%;
    }
    @include tablette-only{
        width : 70%;
        align-content:right;
    }
    @include bureau-only{
        width : 80%;
    }
}