body{
    font-family: 'PT Sans', sans-serif;
    @include mobile-only{
        font-size: 8pt;
    }
    @include mobile-except{
        font-size: 11pt;
    }
    color: black;
}

.title{
    @include mobile-only{
        font-size: 10pt;
    }
    @include mobile-except{
        font-size: 15pt;
    }
    color: rgb(0,0,0,0.6);
}

h2{
    @include mobile-only{
        font-size: 9pt;
    }
    @include mobile-except{
        font-size: 12pt;
    }
    font-weight: bold;
}

.button{
    @include mobile-only{
        font-size:8pt;
    }
    @include mobile-except{
        font-size: 14pt;
    }
    color: white;
}

/* Paramètres des livres */
.book{
    @include mobile-only{
        font-size: 8pt;
    }
    @include mobile-except{
        font-size: 11pt;
    }
    &__title{
        font-weight: bold;
    }
    &__id{
        font-style:italic;
        font-weight: bold;
    }
    &__description{
        color: rgb(0,0,0,0.8);
    }
}