@mixin btn-colors($colors){
    @each $color, $value in $colors {
        &--#{$color}{
            background-color: $value;
            border: 1px $value;
            border-radius: 3px;
        }
    }
}
@mixin bureau-only{
    @media screen and(min-width:1281px){
        @content;
    }
}
@mixin tablette-only{
    @media screen and(min-width:600px) and(max-width:1280px){
        @content;
    }
}
@mixin mobile-only{
    @media screen and(max-width:599px){
        @content;
    }
}