@mixin btn-colors($colors){
    @each $color, $value in $colors {
        &--#{$color}{
            background-color: $value;
            border: 1px $value;
            border-radius: 3px;
        }
    }
}

@mixin mobile-except{
    @media screen and(min-width:600px){
        @content;
    }
}
@mixin mobile-only{
    @media screen and(max-width:599px){
        @content;
    }
}